@font-face {
  font-family: "vag_roundedregular";
  src: url("../fonts/vag-rounded-webfont.woff2") format("woff2"),
    url("../fonts/vag-rounded-webfont.woff") format("woff"),
    url("../fonts/vag-rounded-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
